{
    "Romeren/RaspBoard": {
        "repository": {
            "name": "RaspBoard",
            "user_name": "Romeren",
            "branch": "master"
        },
        "systems":[
            {
                "type": "python",
                "main": "RaspBoard.service_framework.component_broker.main"
            },
            {
                "type": "python",
                "main": "RaspBoard.main"
            }
        ]
    },
    "Romeren/chromecast_idlescreen": {
        "repository": {
            "name": "chromecast_idlescreen",
            "user_name": "Romeren",
            "branch": "master"
        },
        "systems":[
            {
                "type": "python",
                "main": "chromecast_idlescreen.main"
            }
        ]
    }
}
